body {
  font-family: "Lucida Sans", "Lucida Sans Regular", Verdana, sans-serif;
  background-color: #faf9f6;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 5%;
}
nav h2 {
  font-weight: 400;
}
.nav-menu {
  display: flex;
  width: 30%;
  justify-content: space-around;
  @media only screen and (max-width: 580px) {
    width: 60%;
  }
}
main {
  width: 90%;
  margin-inline: auto;
  margin-block: 20px;
}
.heading {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.heading img {
  width: 8%;
  margin-inline-end: 10px;
  @media screen and (max-width: 720px) {
    width: 60px;
  }
}
.heading2 {
  font-size: 25px;
  line-height: 70px;
  @media screen and (max-width: 720px) {
    font-size: 16px;
    line-height: 30px;
  }
}
.row h3 {
  font-weight: 400;
}
.row p {
  font-weight: 100;
  line-height: 30px;
  font-size: 16px;
}
.row a {
  text-decoration: none;
  color: black;
}
.row a:hover {
  color: #ff0606;
}
.row button {
  border: 1px solid black;
  padding-inline: 10px;
  padding-block: 5px;
  background-color: white;
}
.row button:hover {
  transform: scale(1.1);
}
.column {
  float: left;
  width: 30%;
  padding: 0px 10px;
  margin-block-end: 20px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  background-color: white;
  height: 350px;
}
.column-image {
  width: 98%;
  height: 180px;
  border-radius: 8px;
}
